<div>
    {{> header}}
    <div class="container">
<h1>car list page</h1>
<div class="row">
    <div class="col-2 bold">_id</div>
    <div class="col-2 bold">ubezpieczony</div>
    <div class="col-2 bold">benzyna</div>
    <div class="col-2 bold">uszkodzony</div>
    <div class="col-2 bold">naped4x4</div>
    <div class="col-1"></div>
    
</div>
<hr>
<form action="/deleteCarDB" method="post">
{{#each dataDB}}
    <div class="row">
    <div class="col-2">{{this._id}}</div>
    <div class="col-2">{{isTrue this.insured}}</div>
    <div class="col-2">{{isTrue this.patrol}}</div>
    <div class="col-2">{{isTrue this.damaged}}</div>
    <div class="col-2">{{isTrue this.naped}}</div>
    <input type="hidden" >
    <div class="col-1"> <input type="submit" value="DELETE" class="btn btn-danger"  name={{this._id}}></div>
    </div>
    <hr>
{{/each}}
</form>
    </div>
    
</div>
<script>
    const deletes = document.querySelectorAll('.btn')
    deletes.forEach((el)=>{
        el.onclick = ()=>{return confirm('Are you sure you want to delete this?')}
    })
</script>